# Hidden files
.*

# Root
/*

!/.github/
!/errorlist/
!/fileoutline/
!/linenumber/
!/paper/
!/testdata/
!/*.go
!/lidy.schema.yaml

!/.gitignore
!/DOCUMENTATION.md
!/MAINTAINERS.md
!/README.md
!/LICENSE

!/go.mod
!/go.sum
