# Hidden files
.*

# Root
/*

!/.github/
!/asset/

!/errorlist/
!/fileoutline/
!/linenumber/
!/paper/
!/testdata/
!/*.go

!/.gitignore
!/DOCUMENTATION.md
!/MAINTAINERS.md
!/README.md
!/LICENSE

!/go.mod
!/go.sum
