# Hidden files
.*

# Root
/*

!/.github/
!/asset/

!/errorlist/
!/fileoutline/
!/linenumber/
!/paper/
!/testdata/
!/schema.lidy.yaml
!/*.go

!/.gitignore
!/DOCUMENTATION.md
!/DEVELOP.md
!/MAINTAINERS.md
!/README.md
!/LICENSE

!/go.mod
!/go.sum

# Re-ignore tmp*
tmp*
